/* Reset all margins and padding to ensure consistent layout across browsers */
* {
    margin: 0px;
    padding: 0px;
}

/* Define styles for a generic button */
.button {
    width: 75px;
    /* Button width */
    height: 75px;
    /* Button height */
    font-size: 50px;
    /* Button text size */
    margin: 2px;
    /* Margin around the button */
    cursor: pointer;
    /* Changes cursor to pointer on hover */
    background: rgb(74, 74, 74);
    /* Button background color */
    color: rgb(255, 255, 255);
    /* Button text color */
    border: none;
    /* Removes default button border */
}

.special_font_size_button {
    font-size: 30px !important;
    /* override fontsize for special cases */
}

/* Styles for a text input field */
.textview {
    width: 390px;
    /* Text input field width */
    margin: 5px;
    /* Margin around the text input field */
    font-size: 50px;
    /* Text input field text size */
    padding: 5px;
    /* Padding inside the text input field */
    background: rgb(226, 223, 232);
    /* Text input field background color */
    border: none;
    /* Removes default text input field border */
}

/* Specific width for a button */
.button_0 {
    width: 158px;
    /* Specific button width */
}

/* Specific height for a button */
.button_equal {
    height: 156px;
    /* Specific button height */
    width: 156px
}

/* Main container positioning */
.main {
    position: absolute;
    /* Positions the main container absolutely */
    top: 2%;
    /* Positions the main container  2% from the top */
    left: 2%;
    /* Positions the main container  2% from the left */
}

/* Styles for h1 elements */
h1 {
    text-align: left;
    /* Aligns text to the left */
    color: rgb(235, 235, 235);
    /* Text color */
}

/* Body styles */
body {
    background: rgb(255, 255, 255);
    /* Body background color */
    height: 100%;
    /* Full height of the body */
}